body {
    background-color: cornflowerblue;
}

h2 {
    color: black;
    text-align: center;
    font-size: 12px;
}

h3 {
    color: black;
    text-align: center;
    text-decoration: underline;
    text-underline-position: below;
    font-size: 16px;
}

p {
    text-align: center;
    font-size: 10px;
}

nav {
    color: steelblue;
}

a {
    color: goldenrod;
    display: block;
    text-decoration: darkblue;
    text-align: center;
    padding: 14px 16px;
}

a:hover {

    background-color: mediumpurple;

}

table, th, td {
    border: 1px solid black;
}